<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>kafka-connect-jdbc-sink-github</id>
      <username>airazabal</username>
      <password>5004f385b8976e286ce3d01401f2076d8b7cc369</password>
    </server>
    <server>
      <id>kafka-connect-avro-converter-github</id>
      <username>airazabal</username>
      <password>5004f385b8976e286ce3d01401f2076d8b7cc369</password>
    </server>
  </servers>
</settings>
